/* Basic Navbar Styling */
.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #b5eec6; /* Dark background */
  border-radius: 20px;
  width: 80%; /* Always expanded */
  cursor: default;
  z-index: 1000;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: none; /* Remove animations */
}

/* Logo Styling */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
}

.logo {
  color: rgb(84, 0, 95);
  font-size: 20px;
  font-weight: bold;
}

/* Navbar Links */
.nav-links-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70%;
}

.nav-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 1px;
}

.nav-links li a {
  color: rgb(1, 0, 75);
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-links li a:hover {
  background-color: #ffcc00;
  color: black;
}

/* Mobile View Adjustments */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 20px;
  }

  .logo-container {
    justify-content: center;
    width: 100%;
  }

  .nav-links-container {
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav-links li {
    margin: 0px 0;
  }
}
